**/.terraform/*

*.tfstate
*.tfstate.backup

crash.log

terraform-provider-*

terraform.lock.hcl

*.tfvars
*.tfvars.json
*.tfplan
*.zip
*.tar.gz
*.log

modules/**/.terraform/
modules/**/.terraform.lock.hcl

main/**/.terraform/
main/**/.terraform.lock.hcl

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
.terraform.d

